.mobilemenu__container {
  background-color: #00000048;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  //   width: 100%;
  //   height: 1000vh;
  z-index: 555555555555;
}
.mobile-menu__wrapper {
  width: 250px;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 70px 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;

  svg {
    width: 30px;
    height: 30px;
  }
  .user_is_login__wrapper {
    margin: 0;

    .user_is_login {
      width: 30px;
      height: 30px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: 30px;
    // display: flex;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: black;
  }
}

.mobile__closebtn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 555;
  color: black;
  &::before {
    width: 15px;
    border: 1px solid black;
    content: "";
    transform: rotate(45deg);
  }
  &::after {
    width: 15px;
    border: 1px solid black;
    content: "";
    transform: rotate(-45deg);
    position: fixed;
  }
}
