@import url("./normalize.css");

:root {
  --White: white;
  --LightGrey: #f9f9f9;
  --DarkPrimary: #2a254b;
  --Primary: #4e4d93;
  --BorderGrey: #ebe8f4;
  --BorderDark: #cac6da;

  --animate-duration: 800ms;
}

.App {
  font-family: "Satoshi", sans-serif;
  // font-family: 'Clash Display', sans-serif;
  min-width: 390px;
  max-width: none;
  margin: 0 auto;
}

.container {
  padding: 0 80px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-family: "Clash Display", sans-serif;
  line-height: 140%;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    // background-color: rgb(73, 192, 103);

    // max-width: 390px;
    padding: 40px;
  }
}

@media (max-width: 390px) {
  .container {
    // background-color: rgb(73, 192, 103);

    max-width: 390px;
    padding: 0 24px;
  }
}
